/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary
mongodb-win32-x86_64-windows-8.0.4/bin/mongod.exe filter=lfs diff=lfs merge=lfs -text
gradle-8.6/lib/kotlin-compiler-embeddable-1.9.20.jar filter=lfs diff=lfs merge=lfs -text
mongodb-win32-x86_64-windows-8.0.4/bin/mongos.pdb filter=lfs diff=lfs merge=lfs -text
mongodb-win32-x86_64-windows-8.0.4/bin/mongod.pdb filter=lfs diff=lfs merge=lfs -text
